.gnb {
    background-color: #FC5931;
    color: white;

    padding: 10px;
}


.top, .bottom {
    width: 1200px;
    margin: auto;
}


.top {
    margin-bottom: 20px;
}


.left {
    margin-right: auto;
}


.left > li, .left > i {
    margin-right: 5px;
}


.right {
    margin-left: auto;
}


.right > li {
    margin-right: 10px;
}


.right > li > i {
    margin-right: 5px;
}


.search {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}


.search-box {
    width: 840px;
    height: 40px;
    background-color: white;
    border-radius: 2px;

    padding: 1px;
}


.search-box > input {
    width: 80%;
    height: 35px;
    border: none;

    margin-right: auto;
}


.search-box > button {
    background-color: #FC5931;
    color: white;
    width: 60px;
    height: 35px;
    border: none;
    border-radius: 2px;

    margin-right: 2px;
}


.tags {
    margin-top: 5px;
    width: 840px;
}


.tags > li {
    margin-right: 10px;
}


.tags > li:last-child {
    margin-right: auto;
}


.cart {
    font-size: 24px;
    margin-right: 70px;
    margin-left: 30px;
}

.bottom > img {
    margin-bottom: 10px;
}